html {
	height: 100%;
}
body {
	font-size: 12px;
	font-family: verdana, sans-serif;
	color: #333;
	margin: 0;
	background-color: #fff;
	height: 100%;
}
.mainHeader {
	background-color: #003;
	overflow: hidden;
}
h1 {
	font-size: 1.2em;
	color: #ddd;
	margin: 10px;
}
#queryContent {
	height: calc(100% - 37px);
}
.queryContainer {
	height: 100%;
}
.mainNav {
	position: absolute;
	width: 180px;
	padding: 10px;
	box-sizing: border-box;
}
.content {
	margin-left: 180px;
	border-left: 3px solid #006;
	height: 100%;
	padding: 10px;
	box-sizing: border-box;
}
.navTitle {
	font-weight: bold;
}
.navList {
	list-style: none;
	margin: 0;
	padding: 3px 0 3px 18px;
}
.navItem, .navItem:visited {
	text-decoration: none;
	color: #039;
	margin-bottom: 10px;
}
.navItem:hover, .navItem:visited:hover,
.link:hover, .link:visited:hover {
	color: orange;
}
.navItem.selected, .navItem:visited.selected {
	color: orange;
}
.link, .link:visited {
	color: #039;
	text-decoration: none;
}
.right {
	float: right;
	font-weight: normal;
	font-size: .9em;
}
.grid {
	border-spacing: 0;
	width: 100%;
}
.gridCaption {
	text-align: left;
	color: orange;
	padding-bottom: 10px;
}
.gridHeader {
	text-align: left;
	padding-right: 20px;
}
.gridItem {
	padding: 3px 10px;
	color: #333;
}
.gridItem.momey {
	text-align: right;
}
tbody tr:nth-child(odd) {
	background-color: #ddd;
}